body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(216, 204, 241);

}
header{
    text-align: center;
    padding: 32px;
}

header img{
    width: 200px;
}

h1{
    font-size: 52px;
    color: rgb(148, 0, 211);
}

main{
    background-color: blueviolet;
    padding: 32px;
    margin: 32px auto;
    width: 700px;
    border-radius: 8px;
    color: whitesmoke;
    text-align: left;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

li{
    margin: 14px 0;
    padding-left: 10px;
    border-left: 5px solid transparent;

}

a{
    color: rgb(36, 3, 102);
    background-color: rgb(237, 237, 213);
    padding: 2px 6px;
    border-radius: 4px;
    text-decoration: none;
}

a:hover,
a:active{
    background-color: rgb(250, 201, 39);
    text-decoration: underline;

}


.extra-important{
    color: rgb(255, 237, 177);
    border-color:  rgb(247, 209, 85);
 }

.highlight{
    font-weight: bold;
}

footer{
    text-align: center;
    margin-bottom: 100px;
}

.afooter{
    color: rgb(46, 46, 46);
    background-color: rgb(224, 177, 57);
    padding: 12px 20px;
    border-radius: 8px;
}


.pfooter{
    color: rgb(46, 46, 46);
    margin-top: 30px;  
}