body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3.75rem;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

#page-logo a{
    padding: 0.625rem;
    font-family: 'Oleo Script', sans-serif;
    color: rgb(245, 243, 160);
    font-size: 3.125rem;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgb(0, 0, 0);

}

header ul{
    display: flex;
}

header li{
    margin-left: 1.25rem;
}

header a{
    color: rgb(255, 251, 0);
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.75rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

header nav a:hover{
    color: rgb(77, 77, 77);
    background-color: rgb(255, 251, 0);
    
}

footer{
    background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
    padding: 2.25rem;
}

footer ul{
    display: flex;
    justify-content: center;
    /* padding: 40px; */
}

footer li{
    width: 5rem;
    height: 5rem;
    margin: 0 5rem;
}

footer img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
@media (max-width: 48rem) {

    header{
        padding: 0;
    }

    footer{
        padding: auto;
    }

    footer ul{
        margin: 0.1rem;
        padding: 0.1rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: auto;

    }

    footer li{
        margin-top: 0;
        margin: 2.5rem;
        padding: 0;
        width: 0.5rem;
        height: 1.5rem;
    }

    footer img{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 10px;
    }
}